.recipe-content {
	display: flex;
	flex-direction: column;
}

.recipe-content p {
  max-width: 800px;
}

.recipe-intro {
	display: flex;
	align-self: center;
	flex-direction: row;
	flex-wrap: wrap;
	margin: 24px;
}

.recipe-instructions {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 24px;
}

.recipe-main {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.recipe-main ol {
max-width: 800px;
}

a:link {
	color: #333;
}

a:visited {
	color: #333;
}