body {
	display: flex;
	flex-direction: column;
	height: 100vh;
	margin: 0;
	}
a {
	text-decoration: none;
}
	
.content {
	display: flex;
	flex-wrap: wrap;
	flex: 1 100%;
	justify-content: center;
	align-items: center;
	gap: 1rem;
	border: 1px dotted orange;
	}
	
.media-obj {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
    width: 10rem;	
	gap: 1rem;
	border: 1px solid blue;
}

.media-obj img {
    width: inherit;	
}
.media-obj span {
	font-size: 1.2rem;
	margin: 0 1.5rem 1rem 1.5rem;
}

footer {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: .3rem;
	height: 2rem;
	border: 1px dotted red;
	background-color: #eee;
}