@import url('https://fonts.googleapis.com/css2?family=Arima:wght@200&display=swap');

body {
	display: flex;
	flex-direction: column;
	height: 100vh;
	margin: 0;
}

h1, h2 {
	font-family: 'Arima', cursive;
	margin-left: 15px;
}

a {
	text-decoration: none;
}
	
.content {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	flex: 1 100%;
	justify-content: center;
	align-items: center;
	gap: 1rem;
}
	
.media-obj {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
    width: auto;	
	gap: 1rem;
}

.media-obj img {
    width: inherit;
	
}
.media-obj span {
	font-size: 1.2rem;
	margin: 0 1.5rem 1rem 1.5rem;
}

footer {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: .3rem;
	height: 2rem;
	background-color: #eee;
}